<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 
  Setup appSettings and connection strings in the xPrivate.Config files.
  Then if you forked, run git update-index for both of the xPrivate.Config files so that private info does not get committed.
  http://stackoverflow.com/questions/10755655/git-ignore-tracked-files
  -->
  <appSettings
      file="AppSettingsPrivate.config">
  </appSettings>
  
  <connectionStrings configSource="ConnStringsPrivate.config" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>